# The URL that the client is running on. This is used for CORS.
CLIENT_URL=

# Mongo Database connection string (see https://docs.mongodb.com/manual/reference/connection-string/).
MONGO_URI=

# Your Twilio account SID and auth token see (https://console.twilio.com/).
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# The secret used to sign JWT tokens, should be a long secure string.
JWT_SIGNING_SECRET=